* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.float-sx {
    float: left;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* header */
header {
    background-color: bisque;
    height: 100px;
}

h1 {
    color: #FF9613;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 100px;
    margin-left: 20px;
}


/* contenuto */
.container {
    width: 80%;
    margin: 50px auto;
   
}

.title-mobile {
    display: none;
}

h2 {

}

.row {
    display: flex;
}

.col-sx {
    width: 70%;
    
}

.col-sx img {
    max-width: 100%;
}

.col-dx {
    width: 30%;
    display: flex;
    flex-direction: column;
}

/*sezione social */
.social {
    display: flex;
    justify-content: space-evenly;
}

.social-tablet-mobile {
    display: none;
}



/*sezione presentazione ricetta */
#small-tiramisu {
    height: 150px;
    max-width: 225px;
}

/*footer*/
footer {
    height: 100px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-footer {
    display: flex;
}

.nav-footer ul {
    display: flex;
}




/* TABLET VERSION */
@media screen and (max-width: 1020px) {

    .row {
        display: block;
    }

    .col-sx,
    .col-dx {
        width: 100%;
    }


    /*sezione social*/
    .social-desktop {
        display: none;
    }

    .social-tablet-mobile {
        display: flex;
    }



}







/* MOBILE VERSION */
@media screen and (max-width: 640px) {

    .clearfix {
        display: flex;
        flex-direction: column;
    }

    #small-tiramisu {
        margin: 0 auto;
    }


    /*sezione social*/
    .social-desktop {
        display: none;
    }

    .social-tablet-mobile {
        display: flex;
    }







}